{% if site.data.social.rss or site.theme_settings.rss %}
<li>
  ... (code for RSS feed icon) ...
</li>
{% endif %}

{% for footer in site.data.icons %}
  {% unless footer[1] == nil %}
    ... (code for generating social media icons) ...
  {% endunless %}
{% endfor %}