/* Reset default margin and padding */
body {
  margin: 0;
  padding: 40px;
  background-image: url('assets/img/header/machin.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Adjusted to cover the entire viewport */
}


/* Define styles for the post content */
.post-content {
  margin: 100px;
  color: gray;
  position: relative;
  z-index: 4; /* Ensure the content is above the background image */
}

