/* To clear things when we float the element inside nav and ul */
.clear {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

/* Styling for the site header */
.site-header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 20px 5px 10px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid lightgray;
  border-radius: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: #A7C7E7;
}

/* Styling for the avatar */
.site-header .avatar {
  height: 3em;
  width: 3em;
  float: left;
  margin-top: -13px;
  border-radius: 50%;
  margin-right: 0.5em;
  padding: 0px;
}

/* Styling for the site title */
.site-header .site-title {
  float: left;
  font-weight: bold;
  font-size: 1.3em;
}

/* Navigation styling */
nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
  float: right;
  text-align: right;
  display: block;
}

nav ul li {
  display: inline;
  float: left;
  margin-right: 0.4em;
}

nav ul li a:hover {
  color: #A7C7E7;
}

nav ul li#pull i {
  margin-top: 22px;
  margin-right: 18px;
  float: right;
}

/* Responsive styling */
@media screen and (max-width: $break) {
  .site-header {
    img.avatar {
      margin-top: -7px
    }

    .site-title {
      margin-top: 7px;
    }
  }

  nav {
    height: auto;

    ul {
      width: 100%;
      overflow: hidden;
      transition: opacity .25s 0s, font-size .25s 0s;
      transition-delay: 0s;

      &.hide {
        font-size: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
      }
    }

    li {
      width: 100%;
      text-align: center;
      font-size: 1em;
      position: relative;
      background-color: var(--background);
      backdrop-filter: brightness(0.98);

      &:nth-of-type(4n) {
        background-color: var(--background);
      }

      a {
        width: 100%;
        margin: 0;
        display: block;
      }
    }
  }
}
