.clear {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

.site-header {
  padding: 0 2% 0 2%;
  background: white;
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Distribute items evenly */
  font-size: 1.1em; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0067a5;
}

.site-title {
  font-weight: bold;
  font-family: Calibri;
  font-size: 1.2em;
  color: #0067a5;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;

  ul {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    text-align: right;
  }

  li {
    font-size: 1em;
    margin-right: 0em;
  }

  a {
    color: #0067a5; /* Adjust color as needed */

    &:hover {
      color: var(--link); /* Adjust hover color as needed */
    }
  }
}

@media screen and (max-width: $break) {
  .site-header {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align items to the start on smaller screens */
  }

  nav {
    ul {
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: center; /* Center items horizontally on smaller screens */
      text-align: center;
    }

    li {
      margin-right: 0; /* Remove margin between list items on smaller screens */
    }
  }
}
