---
layout: default
---
<div class="home">
    <style scoped>
        body {
            margin: 0;
            padding: 0;
        }

 .call-out_img {
    background-image: url('{{ site.header_feature_image | relative_url }}'); /* Sets the background image */
    width: 100%; /* Makes sure the header spans the entire width */
    margin: 0px auto; /* Centers the header horizontally and adds space around it */
    padding: 40px; /* Adds padding inside the header */
    background-size: contain; /* Ensures the background image covers the header */
    background-position: center; /* Centers the background image */
    min-height:  300px; /* Sets a minimum height for the header */
    display: flex; /* Uses flexbox to align content vertically */
    flex-direction: column; /* Aligns content vertically */
}




        .text-box {
            position: relative;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            width: 700px;
            padding: 10px;
            border: 0px solid #ddd;
            font-size: 15px;
            color: #2171b5;
            font-family: 'Avenir Next LT Pro';
        }

           .text-box2 {
            position: relative;
            top: -250px;
            left: 30%;
            transform: translateX(-50%);
            width: 400px;
            padding: 0px;
            border: 0px solid #ddd;
            font-size: 0px;
                             }









    </style>

    <div id="main" class="call-out call-out_img">
        <h1>{{ site.header_text | default: ""}}</h1>
    </div>

    <!-- Text box -->
    <div class="text-box">
        <h2>About Me</h2>
        <p>
            As a physicist, I develop mathematical models and utilize computer simulations to study material properties for nanoelectronic applications. In addition to computational work on materials, I have also used optical interferometric microscopy to characterize the surface topography of solar cells and optical flats. Finally, I am proud to highlight my solid foundation in data analytics, using data science, machine learning, and optimization techniques throughout my academic career.
        </p>
    </div>

    <div class="text-box2">
    <p>
        <img src="assets/img/pexels/amir.jpg" alt="Avatar Image" class="avatar" style="width: 220px; height: 150px; border-radius: 50%; position: relative; top: -150px; left: -120px;">
    </p>
    <p>Amir Sabzalipour</p>
     </div>

    {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %}
    {{ _blog | split: " " | join: " "}}
</div>
