---
layout: default
---
<div class="home">
    <style scoped>
        body {
            margin: 0;
            padding: 0;
        }

        .call-out_img {
            background-image: url('{{ site.header_feature_image | relative_url }}');
            margin: 0;
            padding: 0;
            background-size: 100% 120%; /* Adjust as needed */
            background-position: center;
            min-height: 60vh;
            display: flex;
            flex-direction: column;
        }

        .text-box {
            position: relative;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            width: 700px;
            padding: 10px;
            border: 0px solid #ddd;
            font-size: 15px;
            color: #2171b5;
            font-family: 'Avenir Next LT Pro';
        }

           .text-box2 {
            position: relative;
            top: -250px;
            left: 40%;
            transform: translateX(-50%);
            width: 400px;
            padding: 0px;
            border: 0px solid #ddd;
            font-size: 0px;
                             }









    </style>

    <div id="main" class="call-out call-out_img">
        <h1>{{ site.header_text | default: ""}}</h1>
    </div>

    <!-- Text box -->
    <div class="text-box">
        <h2>About Me</h2>
        <p>
            As a physicist, I develop mathematical models and utilize computer simulations to study material properties for nanoelectronic applications. In addition to computational work on materials, I have also used optical interferometric microscopy to characterize the surface topography of solar cells and optical flats. Finally, I am proud to highlight my solid foundation in data analytics, using data science, machine learning, and optimization techniques throughout my academic career.
        </p>
    </div>

     <!-- Text box -->
    <div class="text-box2">
        <p>
      <img src="assets/img/pexels/amir.jpg" alt="Avatar Image" class="avatar" style="width: 220px; height: 150px; border-radius: 50%; position: relative; top: -150px; left: -120px;">
        </p>
    </div>

    {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %}
    {{ _blog | split: " " | join: " "}}
</div>
